.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px 250px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.navbarLeft {
  display: flex;
  align-items: center;
}

.navbarRight {
  display: flex;
  align-items: center;
}

.navbarRight > * {
  margin-right: 16px;
}

.navbarRight > :last-child {
  margin-right: 0;
}
